<form class="form" [formGroup]="form" (ngSubmit)="submitForm()" [generateAndErrorHandlingReactiveForm]="form" @fade>
    <div class="login-container">
        <header class="header-1">
            <h1 class="app-title">Forgot Password</h1>
            <span class="label-1">Enter your email to receive a new password.</span>
      </header>
      <div class="p-field">
        <ts-text-box
          #email
          ngDefaultControl
          formControlName="email"
          type="email"
          label="Email"
          required
          email
        ></ts-text-box>
      </div>
      <div class="p-field">
        <ts-button
          value="Send New Password"
          [disabled]="(loading$ | async) || form.invalid"
          (click)="submitForm()"
        ></ts-button>
      </div>
    </div>
  </form>
