@import "src/styles/colors-variables";
@import "src/styles/text-variables";

.auth-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white-2;

  .auth-card {
    padding: 5.3125rem 8.125rem;
    background-color: $color-white-1;
    border-radius: 1.875rem;

    .auth-card-body {
      width: 17.5rem;

      .logo {
        width: 100%;
        margin-bottom: 3.5rem;
      }



      ::ng-deep {

        input {
          border: unset;
          border-bottom: 0.065625rem solid $color-blue-2;
          border-radius: 0;
          padding-left: 0;
          font-size: $font-size-6;

          &[type="text"], &[type="password"], &[type="email"] {
            width: 100%;
          }

          &:focus {
            box-shadow: unset;
            outline: unset;
          }
        }
        input {
          &::placeholder {
            color: #cacaca;
          }
        }
        button {
          width: 100% !important;
          border-radius: 1.375rem;
          padding: 11px;
          font-size: $font-size-5;
        }
      }

    }
  }


}


