<div class="text-blue-2 user-profile-container">
  <a
    routerLink=".."
    class="d-flex align-items-center font-size-3 mb-5 text-decoration-none text-blue-2"
  >
    <i class="me-3 pi pi-chevron-left font-size-3"></i>
    <span>Go Back</span>
  </a>
  <div class="grid-container user-profile-main-grid">
    <div class="grid-column-2">
      <div class="user-profile-image-container">
        <img
          src="assets/images/profile-img.png"
          alt="profile image"
          class="w-100"
        />
      </div>
    </div>
    <div class="grid-column-6 grid-container-150">
      <div class="grid-column-2">
        <div class="d-flex mb-2">
          <h4 class="header-title me-3">User {{ (userData$ | async)?.userId }}</h4>
          <i *ngIf="!!(userData$ | async)?.isBlocked" class="text-rose">Account Blocked</i>
        </div>
        <div class="grid-container-150 common-container">
          <div>
            <div class="header-label">Profile Name</div>
            <span>{{ (userData$ | async)?.firstName }} {{ (userData$ | async)?.lastName }}</span>
          </div>
          <div>
            <div class="header-label">Joined</div>
            <span>{{ (userData$ | async)?.timeCreated | date: "MM/dd/yyyy" }}</span>
          </div>
          <div>
            <div class="header-label">Location Brook</div>
            <span>{{ user.location }}</span>
          </div>
          <div>
            <div class="header-label">Looking For</div>
            <span>{{ (userData$ | async)?.lookingFor }}</span>
          </div>
          <div>
            <div class="header-label">Gender</div>
            <span>{{ (userData$ | async)?.gender }}</span>
          </div>
          <div>
            <div class="header-label">Show Me</div>
            <span>{{ (userData$ | async)?.showMe }}</span>
          </div>
          <div>
            <div class="header-label">Age</div>
            <span>{{ (userData$ | async)?.age }}</span>
          </div>
          <div>
            <div class="header-label">Age Range</div>
            <span>{{ (userData$ | async)?.ageRangeMin }} - {{(userData$ | async)?.ageRangeMax }}</span>
          </div>
        </div>
      </div>
      <div class="grid-column-2">
        <div class="d-flex justify-content-end w-100 mb-3">
          <pv-button
            color="blue"
            text="Delete"
            class="me-1"
            (onClick)="confirm('delete')"
          ></pv-button>
          <pv-button
            color="blue"
            text="Warning"
            class="me-1"
            (onClick)="confirm('warning')"
          ></pv-button>
          <pv-button
            color="blue"
            text="Suspend"
            class="me-1"
            (onClick)="confirm('suspend')"
          ></pv-button>
          <pv-button
            color="rose"
            text="Block"
            (onClick)="confirm('block')"
          ></pv-button>
        </div>
        <div class="common-container">
          <h4 class="header-label">Photos</h4>
          <div class="d-flex align-items-center mb-4">
            <img
              src="assets/images/user-photo-1.png"
              class="user-image-gallery-item"
              alt="user-photo"
            />
            <img
              src="assets/images/user-photo-2.png"
              class="user-image-gallery-item"
              alt="user-photo"
            />
            <img
              src="assets/images/user-photo-3.png"
              class="user-image-gallery-item"
              alt="user-photo"
            />
          </div>
          <h4 class="header-label">Bio</h4>
          <p>
            {{ (userData$ | async)?.bio }}
          </p>
        </div>
      </div>
    </div>
    <div class="grid-column-full grid-container">
      <div class="common-container">
        <div class="mb-4">
          <div class="header-label">Likes Given</div>
          <span>25</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Likes Received</div>
          <span>21</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Nexts Given</div>
          <span>8</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Nexts Received</div>
          <span>24</span>
        </div>
      </div>
      <div class="common-container">
        <div class="mb-4">
          <div class="header-label">Total Matches</div>
          <span>19</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Matches This Month</div>
          <span>2</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Total Reports</div>
          <span>1</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Total Offenses</div>
          <span>1</span>
        </div>
      </div>
      <div class="common-container">
        <div class="mb-4">
          <div class="header-label">Avg. Message Per Month</div>
          <span>6</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Times Profile PreVue Watches</div>
          <span>6</span>
        </div>
      </div>
    </div>
  </div>
  <p-confirmDialog
    acceptIcon=""
    rejectIcon=""
    [rejectLabel]="openedDialog === 'delete' ? 'Cancel' : 'Close'"
    acceptLabel="Yes"
    [acceptVisible]="openedDialog === 'delete'"
    [baseZIndex]="10000"
    [closable]="false"
    [dismissableMask]="true"
    [closeOnEscape]="true"
  ></p-confirmDialog>
</div>
