<div class="text-blue-2 user-profile-container">
  <div class="d-flex align-items-center font-size-3 mb-5">
    <i class="me-3 pi pi-chevron-left font-size-3 "></i>
    <span>Go Back</span>
  </div>
  <div class="grid-container user-profile-main-grid">
    <div class="grid-column-2">
      <div class="user-profile-image-container">
<!--        <img src="assets/images/profile-img.png" alt="profile image" class="w-100" />-->
      </div>
    </div>
    <div class="grid-column-6 grid-container-150">
      <div class="grid-column-2">
        <div class="d-flex mb-2">
          <h4 class="header-title me-3">User 1234</h4>
          <i class="text-rose">Account Blocked</i>
        </div>
        <div class="grid-container-150 common-container">
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
        </div>
      </div>
      <div class="grid-column-2">
        <div class="d-flex mb-2">
          <h4 class="header-title me-3">User 1234</h4>
          <i class="text-rose">Account Blocked</i>
        </div>
        <div class="grid-container-150 common-container">
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
          <div>
            <div class="header-label">Profile Name</div>
            <span>Greg</span>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-column-full grid-container">
      <div class="common-container">
        <div class="mb-4">
          <div class="header-label">Likes Given</div>
          <span>25</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Likes Received</div>
          <span>21</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Nexts Given</div>
          <span>8</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Nexts Received</div>
          <span>24</span>
        </div>
      </div>
      <div class="common-container">
        <div class="mb-4">
          <div class="header-label">Likes Given</div>
          <span>25</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Likes Received</div>
          <span>21</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Nexts Given</div>
          <span>8</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Nexts Received</div>
          <span>24</span>
        </div>
      </div>
      <div class="common-container">
        <div class="mb-4">
          <div class="header-label">Likes Given</div>
          <span>25</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Likes Received</div>
          <span>21</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Nexts Given</div>
          <span>8</span>
        </div>
        <div class="mb-4">
          <div class="header-label">Nexts Received</div>
          <span>24</span>
        </div>
      </div>

    </div>
  </div>
</div>
