<pv-loading [visible]="authFacade.loading$ | async"></pv-loading>
<form class="login-form" [formGroup]="form" (ngSubmit)="submitForm()">
  <input
    class="login-input"
    #email
    formControlName="email"
    type="email"
    placeholder="Email"
    required
  />
  <input
    class="login-input"
    #password
    formControlName="password"
    type="password"
    placeholder="Password"
    required
    minlength="4"
  />
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <input
        type="checkbox"
        formControlName="remember"
        name="remember"
        id="remember"
        #remember
      />
      <label class="login-text ms-2" for="remember" arial-label="Remember me"
        >Remember me</label
      >
    </div>
    <span class="link-1 login-text" (click)="goToResetPassword()"
      >Forgot Password?</span
    >
  </div>
  <pv-button
    class="mt-4"
    color="blue"
    [class]="'auth-button'"
    text="Login"
    (click)="submitForm()"
  ></pv-button>
</form>
