<div class="dashboard-container">
  <div class="grid-container">
    <pv-line-chart title="Active Users"></pv-line-chart>
    <pv-line-chart title="Total Users"></pv-line-chart>
  </div>
  <div class="grid-container chart-grid-container">
    <div class="common-container text-blue-2">
      <h4 class="header-title mb-4">User Activity</h4>
      <div class="d-flex w-100 flex-column mb-4">
        <h4 class="header-label">Likes Given</h4>
        <span class="text-blue-2">10,344</span>
      </div>
      <div class="d-flex w-100 flex-column mb-4">
        <h4 class="header-label">% Next Given</h4>
        <span class="text-blue-2">16,900</span>
      </div>
      <div class="d-flex w-100 flex-column mb-4">
        <h4 class="header-label">Avg. Matches Per USer</h4>
        <span class="text-blue-2">12</span>
      </div>
    </div>
    <div class="common-container text-blue-2 grid-column-3">
      <h4 class="header-title mb-4">User Demographics</h4>
      <div class="d-flex justify-content-between">
        <div class="d-flex w-100 flex-column mb-4">
          <h4 class="header-label">Avg. Age</h4>
          <span>24</span>
        </div>
        <div class="d-flex w-100 flex-column mb-4 text-blue-2">
          <h4 class="header-label">Show Me</h4>
          <div>Men (32%), Women (40%)</div>
          <div>Everyone (28%)</div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex w-100 flex-column mb-4 text-blue-2">
          <h4 class="header-label">Gender Identity</h4>
          <div>Men (32%), Women (40%),</div>
          <div>Non-Binary (5%), Other (7%),</div>
          <div>n/a (3%)</div>
        </div>
        <div class="d-flex w-100 flex-column mb-4">
          <h4 class="header-label">Avg. Age Range Length</h4>
          <span>21 Years</span>
        </div>
      </div>
    </div>
  </div>
</div>
