<form class="login-form" [formGroup]="form" (ngSubmit)="submitForm()">
  <input
    class="login-input"
    #email
    formControlName="newPassword"
    type="password"
    placeholder="New Password"
    required
  />
  <input
    class="login-input"
    #password
    formControlName="confirmPassword"
    type="password"
    placeholder="Confirm Password"
    required
    minlength="4"
  />
  <pv-button
    color="blue"
    [class]="'auth-button'"
    text="Reset Password"
    (click)="submitForm()"
  ></pv-button>
</form>
