<pv-loading [visible]="loading"></pv-loading>
<form class="forgot-password-form" (ngSubmit)="submitForm()" [formGroup]="form" *ngIf="!emailSent">
  <p class="forgot-password-text text-blue-2">Submit your email and we'll send you a link to help you reset your password.</p>
  <input type="email" placeholder="Email" formControlName="email" class="forgot-password-input">
  <pv-button text="Send Request Link" (click)="submitForm()" color="blue"></pv-button>
</form>
<div *ngIf="emailSent">
  <p class="mb-5">Email to reset password was sent.</p>
</div>
