<div class="dashboard-container">
  <div class="grid-container">
    <pv-metric-container
      label="Total Matches"
      value="5,041"
      textColor="white"
      bgColor="rose"
    ></pv-metric-container>
    <pv-metric-container
      label="Matches This Month"
      value="400"
    ></pv-metric-container>
    <pv-metric-container
      label="Matches This Week"
      value="19"
    ></pv-metric-container>
  </div>
  <div class="grid-container chart-grid-container">
    <div class="common-container">
        <h4 class="header-title mb-4">Message Data</h4>
        <div class="d-flex w-100 flex-column mb-4">
          <h4 class="header-label">Avg. Messages Per Match</h4>
          <span class="text-blue-2">14</span>
        </div>
      <div class="d-flex w-100 flex-column mb-4">
        <h4 class="header-label">% Matches with no Messages</h4>
        <span class="text-blue-2">10%</span>
      </div>
    </div>
    <div class="common-container grid-column-2">
      <h4 class="header-title mb-4">PreVue Data</h4>
     <div class="d-flex justify-content-between align-items-center">
       <div class="d-flex w-100 flex-column mb-4">
         <h4 class="header-label">% PreVues Fully Watched</h4>
         <span class="text-blue-2">60%</span>
       </div>
       <div class="d-flex w-100 flex-column mb-4">
         <h4 class="header-label">Avg. Times PreVue Updated</h4>
         <span class="text-blue-2">2.5</span>
       </div>
     </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex w-100 flex-column mb-4">
          <h4 class="header-label">% PreVues Reported</h4>
          <span class="text-blue-2">5%</span>
        </div>
        <div class="d-flex w-100 flex-column mb-4">
          <h4 class="header-label">Total PreVue Views</h4>
          <span class="text-blue-2">21,009</span>
        </div>
      </div>
    </div>
  </div>
</div>
