
.match-data-container {
  position: relative;
  padding: 5.438rem 5.438rem 0 4rem;
  margin-bottom: 2.5rem;
  height: 100%;


  .chart-grid-container {
    margin-top: 1.875rem;
  }

  .recent-reports-container {
    position: relative;
    border-radius: 0.375rem;
    padding: 1.4375rem 0.75rem;
    overflow: hidden;
  }

}
