<div class="home-container">

  <div class="grid-container">
    <pv-metric-container label="Total Matches" value="5,041" textColor="white" bgColor="rose"></pv-metric-container>
    <pv-metric-container label="Matches This Month" value="400"></pv-metric-container>
    <pv-metric-container label="Matches This Week" value="19"></pv-metric-container>
  </div>

  <div class="grid-container chart-grid-container">
    <pv-line-chart></pv-line-chart>
    <pv-line-chart></pv-line-chart>
  </div>
</div>

