<div class="dashboard-container">
  <div class="grid-container">
    <pv-metric-container
      label="Total Matches"
      value="5,041"
      textColor="white"
      bgColor="rose"
    ></pv-metric-container>
    <pv-metric-container
      label="Matches This Month"
      value="400"
    ></pv-metric-container>
    <pv-metric-container
      label="Matches This Week"
      value="19"
    ></pv-metric-container>
  </div>
  <div class="grid-container chart-grid-container">
    <div class="grid-container-column-3">
      <pv-line-chart title="Active Users"></pv-line-chart>
      <pv-line-chart title="Total Users"></pv-line-chart>
    </div>
    <div class="recent-reports-container bg-white">
      <div class="d-flex align-items-center justify-content-between mb-4 mx-4">
        <span class="header-title">Recent Reports</span>
        <a routerLink="/reported" class="cursor-pointer text-decoration-underline text-blue-2">View All</a>
      </div>
<!--      <pv-list-->
<!--        [data]="dataList"-->
<!--        [columns]="listColumns"-->
<!--      >-->
<!--      </pv-list>-->
    </div>
  </div>
</div>
