<div class="dashboard-container">
  <div class="grid-container">
    <pv-metric-container
      [loading]="loading$ | async"
      label="Total Matches"
      [value]="(matchesStatsSummary$ | async)?.totalMatches"
      textColor="white"
      bgColor="rose"
    ></pv-metric-container>
    <pv-metric-container
      [loading]="loading$ | async"
      label="Matches This Month"
      [value]="(matchesStatsSummary$ | async)?.monthMatches"
    ></pv-metric-container>
    <pv-metric-container
      [loading]="loading$ | async"
      label="Matches This Week"
      [value]="(matchesStatsSummary$ | async)?.weekMatches"
    ></pv-metric-container>
  </div>
  <div class="grid-container chart-grid-container">
    <div class="grid-container-column-3">
      <pv-line-chart
        [data]="activeUserStats | async"
        [loading]="loading$ | async"
        title="Active Users"
      ></pv-line-chart>
      <pv-line-chart
        [data]="allUserStats | async"
        [loading]="loading$ | async"
        title="Total Users"
      ></pv-line-chart>
    </div>
    <div class="recent-reports-container bg-white">
      <pv-loading [visible]="loading$ | async"></pv-loading>
      <div class="d-flex align-items-center justify-content-between mb-4 mx-4">
        <span class="header-title">Recent Reports</span>
        <a
          routerLink="/reported"
          class="cursor-pointer text-decoration-underline text-blue-2"
          >View All</a
        >
      </div>
      <pv-list [data]="recentReports$ | async" [columns]="listColumns">
      </pv-list>
    </div>
  </div>
</div>
