@import "src/styles/colors-variables";

.infinite-scroll-container {
  overflow: scroll;
  position: relative;

  .go-up-button {
    position: fixed;
    bottom: 10%;
    right: 20px;
    box-shadow: 0 0 3px $color-blue-1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
  }
}
