//BOOTSTRAP
@import "~bootstrap/scss/bootstrap";
//FONT FAMILY
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400&display=swap');
// APP COLORS
@import 'styles/colors-variables';
@import './styles/color-classes.scss';
// APP FONT SIZES
@import 'styles/text-variables';
@import './styles/text-classes.scss';
//PRIME NG
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-purple/theme.css";
@import "~primeng/resources/primeng.min.css";
//GRID
@import './styles/grid.scss';

* {
  font-family: 'Poppins', sans-serif !important;
}
.pi {
  font-family: 'primeicons' !important;
}


body {
  font-size: calc(1em + 50px) !important;
  background-color: $color-white-2;
}
