<div class="user-list-container">
  <div class="d-flex justify-content-between">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        class="user-list-search-box"
        [(ngModel)]="searchValue"
        pInputText
        placeholder="Search"
      />
    </span>

    <p-dropdown
      styleClass="user-list-types-dropdown"
      [options]="userTypes"
      [(ngModel)]="selectedUserType"
      optionLabel="label"
    ></p-dropdown>
  </div>

  <div class="table-container">
    <p-table
      #dt1
      [value]="users$ | async"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[1, 25, 50]"
      [loading]="loading$ | async"
      [showFirstLastIcon]="false"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>
            <pv-column-header-filter headerLabel="User" field="user">
            </pv-column-header-filter>
          </th>
          <th>
            <pv-column-header-filter headerLabel="Age" field="age">
            </pv-column-header-filter>
          </th>
          <th>
            <pv-column-header-filter headerLabel="Gender" field="gender">
            </pv-column-header-filter>
          </th>
          <th>
            <pv-column-header-filter headerLabel="Show Me" field="showMe">
            </pv-column-header-filter>
          </th>
          <th>
            <pv-column-header-filter headerLabel="Age Range" field="ageRange">
            </pv-column-header-filter>
          </th>
          <th>
            <pv-column-header-filter headerLabel="Location" field="location">
            </pv-column-header-filter>
          </th>
          <th>
            <pv-column-header-filter headerLabel="Joined" field="joined">
            </pv-column-header-filter>
          </th>
          <th>
            <pv-column-header-filter
              headerLabel="# Matches"
              field="userMatches"
            >
            </pv-column-header-filter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>
            <span
              class="text-decoration-underline text-blue-2 cursor-pointer"
              (click)="goToUserProfile(user)"
              >User {{ user.userId }}</span
            >
          </td>
          <td>
            <span class="image-text">{{ user.age }}</span>
          </td>
          <td>
            <span class="image-text">{{ user.gender }}</span>
          </td>
          <td>
            {{ user.showMe }}
          </td>
          <td>
            {{ user.ageRangeMin }} - {{  user.ageRangeMax }}
          </td>
          <td>
            {{ user.location }}
          </td>
          <td>
            {{ user.timeCreated | date: "MM/dd/yyyy" }}
          </td>
          <td class="text-center">
            {{ user.userMatches }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
