<div class="user-list-container">
  <div class="d-flex justify-content-between">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        class="user-list-search-box"
        [(ngModel)]="searchValue"
        pInputText
        placeholder="Search"
      />
    </span>

    <p-dropdown
      styleClass="user-list-types-dropdown"
      [options]="userTypes"
      [(ngModel)]="selectedUserType"
      optionLabel="label"
    ></p-dropdown>

  </div>

  <div class="table-container">
    <p-table #dt1 [value]="customers"
             dataKey="id"
             [rows]="10"
             [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[1,25,50]"
             [loading]="loading"
             [showFirstLastIcon]="false"
             [paginator]="true">

      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex justify-content-center align-items-center">
              User
              <p-columnFilter #columnFilter type="text" field="user" display="menu">
              </p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-center align-items-center">
              Age
              <p-columnFilter type="text" field="age" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-center align-items-center">
              Gender
              <p-columnFilter type="text" field="gender" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-center align-items-center">
              Show Me
              <p-columnFilter type="date" field="showMe" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-center align-items-center">
              Age range
              <p-columnFilter type="numeric" field="ageRange" display="menu" currency="USD"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-center align-items-center">
              Location
              <p-columnFilter type="numeric" field="location" display="menu" currency="USD"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-center align-items-center">
              Joined
              <p-columnFilter type="joined" field="activity" display="menu" currency="USD"></p-columnFilter>
            </div>
          </th>
          <th style="width: 8rem">
            <div class="flex justify-content-center align-items-center">
              # Matched
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>
           <span class="text-decoration-underline text-blue-2"> User {{customer.user}}</span>
          </td>
          <td>
            <span class="image-text">{{customer.age}}</span>
          </td>
          <td>
            <span class="image-text">{{customer.gender}}</span>
          </td>
          <td>
            {{customer.showMe}}
          </td>
          <td>
            {{customer.ageRange}}
          </td>
          <td>
            {{customer.location}}
          </td>
          <td>
            {{customer.joined | date: 'MM/dd/yyyy'}}
          </td>
          <td class="text-center">
            {{customer.matches}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
